@import url('https://fonts.googleapis.com/css?family=Rubik');

* {
    font-family: 'Rubik';
}

body {
    margin: 0;
    box-sizing: border-box;
}

.coming-soon {
    display: flex;
    background-color: white;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.coming-soon h1 {
    font-weight: lighter;
    color: #111;
    margin-bottom: 0;
}